<title>{{show.name}}</title>
<div class='show-detail-box'>
    <h1>
        {{show.name}}
    </h1>

    <img src={{show.image.medium}} alt={{show.name}}>

    <dl>
        <dt>Language</dt>
        <dd>{{show.language}}</dd>

        <dt>Genres</dt>
        <dd>
            <ul>
                {{#each show.genres}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </dd>

        <dt>Average Rating</dt>
        <dd>{{show.rating.average}}</dd>

        <dt>Network</dt>
        <dd>{{show.network.name}}</dd>

        <dt>Summary</dt>
        <dd>{{{parsedSummary}}}</dd>
    </dl>

    <a href="/">Back to home page</a>
</div>